{% extends 'fullwidth.html' %}

{% block content %}
    <div class="container">
        {% for image in images %}
            <div class="media">
                <div class="media-left">
                    <a href="{% if image.original %}{{ image.original.url }}{% endif %}"><img class="media-object" src="{% if image.scaled_at_160x120 %}{{ image.scaled_at_160x120.url }}{% endif %}" alt="{{ image.shot_at }}"></a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ image.shot_at }}</h4>
                    {{ image.shot_at }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
