<!doctype html>{% load i18n staticfiles %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% block title %}
            {{ request.site.name }}
        {% endblock title %}
    </title>
    {% block meta_tags %}
        <meta name="viewport" content="width=device-width,initial-scale=1">
    {% endblock meta_tags %}
    <link rel="apple-touch-icon" href="{% static 'favicon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <!--[if IE]><link rel="shortcut icon" href="{% static 'favicon.ico' %}"><![endif]-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!--[if lt IE 9]>
    <script src="{% static 'js/libs/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/libs/respond.min.js' %}"></script>
    <![endif]-->
    {% block extrahead %}{% endblock %}
    {{ ALDRYN_SNAKE.render_head }}
</head>
<body id="page-top" class="noscript lang-{{ LANGUAGE_CODE }} {% block body_class %}tpl-root{% endblock %}">

{% block extend_root %}
    {% block extend_base %}{% endblock %}
{% endblock %}


{% block extrafoot %}{% endblock %}
{{ ALDRYN_SNAKE.render_tail }}
<div class="browser-outdated" id="outdated" hidden="hidden">
    <noscript><h3>{% trans "Please enable JavaScript" %}</h3></noscript>
    <h3>{% trans "Your browser is out-of-date!" %}</h3>
    <p>{% trans "Update your browser to view this website correctly." %}</p>
    <p>
        <a href="http://outdatedbrowser.com/" class="btn btn-lg btn-outline" id="btnUpdateBrowser">
            {% trans "Update my browser now" %}
        </a>
    </p>
    <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
</div>
</body>
</html>
